{% include 'header.twig'%}
    <body>
        <!--<?php 
            $message = $_GET['message'];
            echo '<p class="hidden" id="hiddenMessage">'.$message.'</p>';
        ?>-->
        {% include 'parts/navigation.twig' with {'language': language} %}
       <main id="mainFrame">
            <div class="container-fluid mainFrame">
                <div class="row headlight">
                    <img src="/front-end/resources/img/arrow.svg" alt="" class="arrow" id="left" onclick="slide('left')">
                    <img src="/front-end/resources/img/arrow.svg" alt="" class="arrow" id="right" onclick="slide('right')">
                    <div class="col-xs-8 head">
                        <h1>{{ language == "en" ? "Ideas and Consulting" : "Ideje i Konsultovanje"}}</h1>
                        <p>{{ language == "en" ? "Our team is always innovating and ready to help" : "Nas tim je uvek inovativan i spreman da pomogne "}}</p>
                    </div>
                    <div class="col-xs-8 head hidden">
                        <h1>{{ language == "en" ? "Business Internationalization" : "Internacionalizacija poslovanja"}}</h1>
                        <p>{{ language == "en" ? "Co-operation with foreign companies" : "Saradnja sa stranim kompanijama"}}</p>
                    </div>
                    <div class="col-xs-8 head hidden">
                        <h1>{{ language == "en" ? "Modern and efficent management is key for foreign market" : "Moderno i efikasno poslovanje uslov za izlaz na medjunarodna  trzista"}}</h1>
                        <p>{{ language == "en" ? "Our team is always innovating and ready to help" : "Nas tim je uvek inovativan i spreman da pomogne "}}</p>
                    </div>
                    <div class="col-xs-8 head hidden">
                        <h1>{{ language == "en" ? "Market research, customer analysis and promoton of your business" : "Istrazivanje trzista, analiza kupaca, promocija vaseg biznisa"}} </h1>
                        <p>{{ language == "en" ? "Our team is always innovating and ready to help" : "Nas tim je uvek inovativan i spreman da pomogne "}}</p>
                    </div>
                </div>
            </div>
        </main>
        <article id="aboutUs">
            <div class="container opacity">
                <div class="row">
                    <h1 style="text-align: center; margin-bottom:1%;">About Us</h1>
                    <div class="col-md-4 people">
                        <h3>{{ language == "en" ? "Who We Are" : "Mi smo"}}</h3>
                        <p>
                             We are a family business consulting company which is established in 2016. With over twenty-five years of personal professional experience on economic development area, we, as a family business, advocate companies on their competitive spirit at the existing market as well as assist them reaching the regional and international market. Core principle of the establishment of the business lies on our offering specific packages of assistance. In particular, technical assistance and contribution on youngsters who are enthusiastic and knowledgeable with technological advances. Key area’s experts are highly needed because what we are seeking is an overwhelming success. We deliver management strategies, blueprint for a more prosperous organization, and we are always on discussing the risks and crisis of a particular situation. We are a skilled company in the integration of employers-provided benefits, on monitoring and long-term well-being of companies. We're a company that brings together ideals and seek to attain them.
                        </p>
                    </div>
                    <div class="col-md-4 aboutTxt">
                        <h3>{{ language == "en" ? "What We Do" : "Mi radimo"}}</h3>
                        <p>
                            We work closely and fully to comprehend your unique circumstances. We thoroughly support companies to stimulate their business internationalization in two main levels/directions:
                            First direction, is concerned with domestic companies. We work on to further modernize these companies by framing ideal organizational design. These businesses reaching the international market, increasing their efficiency and succeeding, are our main purposes and mark our identity.  An adequate promotion of the company on many other levels and its high-level visibility are guaranteed. 
                            Second direction leads to provision with services for international companies (world brands). Techniques used in diffusion of these provisions include surveys, detail examinations, analysis, research and finally sourcing new potential suppliers from Southwest Serbia textile industry. In the process, we work on creating a comprehensive plan complete with assistance and recommendations, match making for various type of service providers (CM, CMT, EOM, ‘full package’ cooperation).
                        </p>
                    </div>
                    <div class="col-md-4 howWeDo">
                        <h3>{{ language == "en" ? "How We Do" : "Kako radimo"}}</h3>

                        <!--<h4> </h4>-->
                        <p>
                            <u>General approach</u>:HCG approaches every client’s business in a respectable way as if it were our own. Initially, our basic diagnostic tool is GAP analysis. Mainly, it describes three significant parts:
                        </p>
                        <ul>
                            <li>Current state of company</li>
                            <li>Target state of company</li>
                            <li>Recommendations</li>
                        </ul>
                        <p>
                           Assessing, identifying organizational performance; determining organization’s strengths and weaknesses and resolution is our quality. Most notably, sees outcomes, which play a central role in generating superior business performance.
                        </p>
                        <p>
                            <u>Specific approach</u>:Redesign and application are the following segments that will be conducted further in organization. Specifically, we seek solution of organization’s critical issues and provide them with such opportunities as organizational design, branding, visual identity, marketing and promotions., business cooperation design (trade missions and trade fairs preparation and design, market presence, B2B, B2C).
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <figure>
            <div class="container services" id="services">
                <div class="row servicesHead">
                    <h1>{{ language == "en" ? "Services" : "Usloge"}}</h1>
                </div>
                <div class="row serviceContainer">
                    <div class="col-md-6">
                        <div class="col-sm-12 serviceUnit">
                            <div class="col-md-2 seviceIco">
                                <img src="/front-end/resources/img/icons/4.svg" alt="">
                            </div>
                            <div class="col-sm-10">
                                <h4>{{ language == "en" ? "Business Cooperation Design" : "Dizajn Poslovne Saradnje"}}</h4>
                                <p>
                                    The company’s most beneficial opportunities lie on the heartland of the company’s strength. Appropriate and interactive communication and the market’s potential is remarkably crucial. Highlighting the most significant and key characteristics of the company and its well-designed elements, undoubtedly will lead to improvement and the high opportunities for success.  Any preference of the company that wants to take into action such as trade mission, fair exhibition, B2B and/or B2C meetings, most likely will lead towards a more successful business path. 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 serviceUnit">
                            <div class="col-sm-2 seviceIco">
                                <img src="/front-end/resources/img/icons/1.svg" alt="">
                            </div>
                            <div class="col-sm-10">
                                <h4>{{ language == "en" ? "Organizational design" : "Dizajn Organizacije"}}</h4>
                                <p>
                                    Operating in global market economy, business companies actively interact with other systems. Every company aspires to satisfy customer’s needs and desires. Based on researches only 20 % reaches that, due to company’s focus on external rather than on internal challenges and few companies make an achievement. This job requires vitality, energy and plenty of resources. Internal strengths of the company further the attainment of the company’s objective. A proper and well-designed company costs less and its sustainability is guaranteed in the long run. 
                                </p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-12 serviceUnit">
                            <div class="col-sm-2 seviceIco">
                                <img src="/front-end/resources/img/icons/5.svg" alt="">
                            </div>
                            <div class="col-sm-10">
                                <h4>{{ language == "en" ? "Textile Industry Source Suppliers" : "Izbor Dobavljaca Tekstilne Industrije"}}</h4>
                                <p>
                                   Short delivery, qualified labor force, modern technology, infrastructure growth and relatively high standards for corporate social responsibility (CRS) made Serbia a noteworthy center in apparel manufacturing in European companies’ eyes. Flexibility, speed, specialized knowledge and services are competitive advantages that Serbia owns, particularly in Southwest region. The cooperation with positive EU brand trends is growing rapidly. Efficacy in companies’ security for international and office standards and the right of workers are hugely respected 
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 serviceUnit">
                            <div class="col-sm-2 seviceIco">
                                <img src="/front-end/resources/img/icons/2.svg" alt="">
                            </div>
                            <div class="col-sm-10">
                                <h4>{{ language == "en" ? "Graphic & Arch design" : "Graficki i Arch Dizajn"}}</h4>
                                
                                <p>
                                    Backing value propositions by branding is among main purposes of the company. It’s important to create a reference on the customer’s mind. The usage of the advertising, publicity, various marketing ideas are shared among the company. Implanting a visual identity that can satisfy the eyes of the customers within the company indicates the carefulness of the company that has on them. Promotions are another aspect that company doesn’t disregard. It pays close attention to promotion and the extent of the effect  which have  on the general society.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile section that is not visible on desktop -->
                <div class="col-xs-12">
                    <div class="row servicesSectionMobile">
                        <div class="col-xs-12 serviceUnitMobile">
                            <div class="col-xs-2">
                                <img src="/front-end/resources/img/icons/4.svg" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h4>{{ language == "en" ? "Business Cooperation Design" : "Dizajn Poslovne Saradnje"}}</h4>
                                <p>
                                    The company’s most beneficial opportunities lie on the heartland of the company’s strength. Appropriate and interactive communication and the market’s potential is remarkably crucial. Highlighting the most significant and key characteristics of the company and its well-designed elements, undoubtedly will lead to improvement and the high opportunities for success.  Any preference of the company that wants to take into action such as trade mission, fair exhibition, B2B and/or B2C meetings, most likely will lead towards a more successful business path. 
                                </p>
                            </div>

                        </div>
                        <div class="col-xs-12 serviceUnitMobile">
                            <div class="col-xs-2">
                                <img src="/front-end/resources/img/icons/1.svg" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h4>{{ language == "en" ? "Organizational design" : "Dizajn Organizacije"}}</h4>
                                <p>
                                    Operating in global market economy, business companies actively interact with other systems. Every company aspires to satisfy customer’s needs and desires. Based on researches only 20 % reaches that, due to company’s focus on external rather than on internal challenges and few companies make an achievement. This job requires vitality, energy and plenty of resources. Internal strengths of the company further the attainment of the company’s objective. A proper and well-designed company costs less and its sustainability is guaranteed in the long run. 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 serviceUnitMobile">
                            <div class="col-xs-2">
                                <img src="/front-end/resources/img/icons/5.svg" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h4>{{ language == "en" ? "Textile Industry Source Suppliers" : "Izbor Dobavljaca Tekstilne Industrije"}}</h4>
                                <p>
                                   Short delivery, qualified labor force, modern technology, infrastructure growth and relatively high standards for corporate social responsibility (CRS) made Serbia a noteworthy center in apparel manufacturing in European companies’ eyes. Flexibility, speed, specialized knowledge and services are competitive advantages that Serbia owns, particularly in Southwest region. The cooperation with positive EU brand trends is growing rapidly. Efficacy in companies’ security for international and office standards and the right of workers are hugely respected 
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-12 serviceUnitMobile">
                            <div class="col-xs-2">
                                <img src="/front-end/resources/img/icons/2.svg" alt="">
                            </div>
                            <div class="col-xs-10">
                                <h4>{{ language == "en" ? "Graphic & Arch design" : "Graficki i Arch Dizajn"}}</h4>
                                
                                <p>
                                    Backing value propositions by branding is among main purposes of the company. It’s important to create a reference on the customer’s mind. The usage of the advertising, publicity, various marketing ideas are shared among the company. Implanting a visual identity that can satisfy the eyes of the customers within the company indicates the carefulness of the company that has on them. Promotions are another aspect that company doesn’t disregard. It pays close attention to promotion and the extent of the effect  which have  on the general society.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of mobile section that is not visible on desktop -->
            </div>
        </figure>
        <div class="details">
            <div class="container-fluid team">
                <div class="row">
                    <!--<h1>Our Team</h1>
                    <div class="col-sm-3">
                        <div class="col-sm-12 person">
                            <img src="/front-end/resources/img/persons/person.png" alt="">
                        </div>
                        <div class="col-sm-12 social">
                            <ul>
                                <li><a href=""><img src="/front-end/resources/img/social/fb.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/insta.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/linked.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/twitter.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 notVisible">
                        <div class="col-sm-12 person">
                            <img src="/front-end/resources/img/persons/person1.png" alt="">
                        </div>
                        <div class="col-sm-12 social">
                            <ul>
                                <li><a href=""><img src="/front-end/resources/img/social/fb.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/insta.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/linked.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/twitter.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 notVisible">
                        <div class="col-sm-12 person">
                            <img src="/front-end/resources/img/persons/person2.png" alt="">
                        </div>
                        <div class="col-sm-12 social">
                            <ul>
                                <li><a href=""><img src="/front-end/resources/img/social/fb.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/insta.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/linked.svg" alt=""></a></li>
                                <li><a href=""><img src="/front-end/resources/img/social/twitter.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 notVisible">
                        <div class="col-sm-12 person">
                            <img src="/front-end/resources/img/persons/person3.png" alt="">
                        </div>
                        <div class="col-sm-12 social">
                            <ul>
                                <li><a href=""><img class="svg" src="/front-end/resources/img/social/fb.svg" alt=""></a></li>
                                <li><a href=""><img class="svg" src="/front-end/resources/img/social/insta.svg" alt=""></a></li>
                                <li><a href=""><img class="svg" src="/front-end/resources/img/social/linked.svg" alt=""></a></li>
                                <li><a href=""><img class="svg" src="/front-end/resources/img/social/twitter.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>-->
                    
                    <div class="col-sm-12" style="min-height:399px;">
                        <h3>{{ language == "en" ? "Our Latest Projects" : "Nasi Najnovi Projekti"}}</h3>
                        <div class="col-sm-7 projects">
                        {{pictures.name|first}}
                        {% for picture in pictures %}
                            <img src={{picture.url}} alt="" class="proj hidden">
                        {% endfor %}
                        </div>
                        <div class="col-sm-5 seeMore">
                            <p>
                                Provision of high quality projects is vital for us, yet we very much appreciate your critique, it helps us improve into a more successful family business.
                                We would like you to focus your attention in our latest projects. For more information <a href="/projects">click here</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <h3>{{ language == "en" ? "Clients" : "Klienti"}}</h3>
                        <div class="col-xs-4 clients stig" onclick="newTabOpen('http://www.stigco.com/')">
                            <img src="/front-end/resources/img/logo/STIG.svg" alt="" >
                        </div>
                        <div class="col-xs-4 clients mizan" onclick="newTabOpen('http://mizanunderwear.com/')">
                            <img src="/front-end/resources/img/logo/MIZAN.svg" alt="" >
                        </div>
                        <div class="col-xs-4 clients barbosa" onclick="newTabOpen('http://barbosa.rs/')">
                            <img src="/front-end/resources/img/logo/BARBOSA.png" alt="" >
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="contactus" id="contactUs">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 formContainer" style="height: 35em;">
                        <div class="infoBackground">
                            <h1>{{ language == "en" ? "Contact Us" : "Kontaktirajte nas"}}</h1>
                            
                            <form method="post" action="/mail" accept-charset="iso-8859-1">
                                <div class="col-sm-12 notShow">
                                    <div class="col-md-6">
                                        <div class="col-sm-12 input">
                                            <input type="text" placeholder="{{ language == "en" ? "your name" : "vase ime"}}" name="name" class="name">
                                        </div>
                                        <div class="col-sm-12 input">
                                            <input type="text" placeholder="{{ language == "en" ? "your e-mail" : "vas e-mail"}}" class="senderEmail" name="senderEmail">
                                        </div>
                                        <div class="col-sm-12 input">
                                            <input type="text" placeholder="{{ language == "en" ? "subject" : "pisete nam o"}}" name="subject" class="subj">
                                        </div>
                                    </div>
                                    <div class="col-md-6 area">
                                        <div class="col-sm-12">
                                            <textarea class="content" name="content" cols="30" rows="10" placeholder="{{ language == "en" ? "YOUR TEXT HERE" : "VAS TEKST OVDE"}}" ></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 button notShow">
                                    <button class="btn btn-danger btn-lg send" type="submit" >SEND</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-6 divs" style="height: 35em;">
                        <div class="col-sm-12 info">
                            <ul>    
                                <li>
                                    <span>
                                        <img src="/front-end/resources/img/navicons/placeholder.svg" alt="">
                                        Novi Pazar
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img src="/front-end/resources/img/navicons/envelope.svg" alt="">
                                        info@hcg.rs
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img src="/front-end/resources/img/navicons/phone-call.svg" alt="">
                                        +381 63. 264 077
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img src="/front-end/resources/img/navicons/phone-call.svg" alt="">
                                        +381 69. 277 3798
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12" style="height: 70em;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1247.7673663570217!2d20.51851508570493!3d43.14413390272474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smk!4v1485278999053" width="100%" height="30%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mobileForm">
                    <form method="post" action="/mail" accept-charset="iso-8859-1">
                        <div class="col-sm-12 input">
                            <input type="text" placeholder="your name" class="name">
                        </div>
                        <div class="col-sm-12 input">
                            <input type="text" placeholder="your e-mail" name="senderEmail" class="senderEmail">
                        </div>
                        <div class="col-sm-12 input">
                            <input type="text" placeholder="subject" name="subject">
                        </div>
                        <div class="col-sm-12 input">
                            <textarea class="content" name="content" cols="30" rows="10" placeholder="YOUR TEXT HERE"></textarea>
                        </div>
                        <div class="col-sm-12 button">
                            <button  class="btn btn-danger btn-lg send" type="submit">SEND</button>
                        </div>
                    </form>
                    <div class="col-sm-12 infoMobile">
                        <ul class="mobileInfo">    
                            <li>
                                <span>
                                    <img src="/front-end/resources/img/navicons/placeholder.svg" alt="">
                                    Novi Pazar
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="/front-end/resources/img/navicons/envelope.svg" alt="">
                                    info@hcg.rs
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="/front-end/resources/img/navicons/phone-call.svg" alt="">
                                    +381 63. 264 077
                                </span>
                            </li>
                            <li>
                                <span>
                                    <img src="/front-end/resources/img/navicons/phone-call.svg" alt="">
                                    +381 69. 277 3798
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-12 mapMobile">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1247.7673663570217!2d20.51851508570493!3d43.14413390272474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2smk!4v1485278999053" width="100%" height="30%" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
         {% include 'parts/footer.twig' with {'language' : language }%} 
         {% include 'parts/modal.twig' %}

       <script src="/front-end/resources/js/home.js"></script> 
    </body>
</html>