        <header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-sm-3" id="logoContainer">
                            <a href="{{ language == "en" ? "/en" : "/srb"}}">
                                <img src="/front-end/resources/img/logo/logo3.svg" alt="" id="logo">
                            </a>
                        </div>
                        <div class="col-sm-9 navsContainer">
                            <div class="col-md-12 upperNav">
                                <ul>
                                    <li class="socNavLi">
                                        <span class="socialNav">
                                            <img src="/front-end/resources/img/social/linked.svg" alt="">
                                        </span>
                                    </li>
                                    <li class="socNavLi">
                                        <span class="socialNav">
                                            <img src="/front-end/resources/img/social/fb.svg" alt="">
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <img src="/front-end/resources/img/navicons/placeholder.svg" alt="">
                                            Novi Pazar
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            <img src="/front-end/resources/img/navicons/envelope.svg" alt="">
                                            <a href="#contactUs" style="text-decoration: none; color:#fff;">{{ language == "en" ? "Contact Us" : "Kontakt"}}</a>
                                        </span>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-12 naviga">
                                <ul>
                                    
                                    <!--<li><a href="#">Team</a></li>-->
                                    {% if page == 'projects' %}
                                    <li><a href="{{language == "en" ? "projects/srb" : "projects/en" }}" class="searchIco"><img src="{{ language == "en" ? "/front-end/resources/img/flags/srb.png" : "/front-end/resources/img/flags/uk.png" }}" alt=""></a></li>
                                    <li><a href="#">{{ language == "en" ? "Clients and Projects" : "Klienti i Projekti"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "Services" : "Usloge"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "About Us" : "O nama"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "Home" : "Pocetna"}}</a></li>
                                    {% endif %}
                                    {% if page == 'index' %}
                                    <li><a href="{{language == "en" ? "/srb" : "/en" }}" class="searchIco"><img src="{{ language == "en" ? "/front-end/resources/img/flags/srb.png" : "/front-end/resources/img/flags/uk.png" }}" alt=""></a></li>
                                    <li><a href="{{ language == "en" ? "projects/en" : "projects/srb"}}">{{ language == "en" ? "Clients and Projects" : "Klienti i Projekti"}}</a></li>
                                    <li><a href="#services">{{ language == "en" ? "Services" : "Usloge"}}</a></li>
                                    <li><a href="#aboutUs">{{ language == "en" ? "About Us" : "O nama"}}</a></li>
                                    <li><a href="#mainFrame">{{ language == "en" ? "Home" : "Pocetna"}}</a></li>
                                    {% endif %}
                                    {% if page == 'admin-pannel' %}
                                    <li><a href="#" class="searchIco"><img src="{{ language == "en" ? "/front-end/resources/img/flags/srb.png" : "/front-end/resources/img/flags/uk.png" }}" alt=""></a></li>
                                    <li><a href="{{ language == "en" ? "projects/en" : "projects/srb"}}">{{ language == "en" ? "Clients and Projects" : "Klienti i Projekti"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "Services" : "Usloge"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "About Us" : "O nama"}}</a></li>
                                    <li><a href="/">{{ language == "en" ? "Home" : "Pocetna"}}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-4 logo-container">
                        <img src="/front-end/resources/img/logo/logo3.svg" alt="" id="navLogo">
                    </div>
                    <div class="col-xs-8">
                        <div class="hamburger" onclick="showMenuBar()">
                            <hr/>
                            <hr/>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="hiddenBar">
            <ul class="hidenBarList">
                {% if page == 'projects' %}
                <li><a href="#">{{ language == "en" ? "Clients and Projects" : "Klienti i Projekti"}}</a></li>
                <li><a href="{{ language == "en" ? "/en" : "/srb"}}">{{ language == "en" ? "Services" : "Usloge"}}</a></li>
                <li><a href="{{ language == "en" ? "/en" : "/srb"}}">{{ language == "en" ? "About Us" : "O nama"}}</a></li>
                <li><a href="{{ language == "en" ? "/en" : "/srb"}}">{{ language == "en" ? "Home" : "Pocetna"}}</a></li>
                <li><a href="{{language == "en" ? "projects/srb" : "projects/en" }}" class="searchIco-nav"><img src="{{ language == "en" ? "/front-end/resources/img/flags/srb.png" : "/front-end/resources/img/flags/uk.png" }}" alt=""></a></li>
                {% endif %}
                {% if page == 'index' %}
                <li><a href="{{ language == "en" ? "projects/en" : "projects/srb"}}">{{ language == "en" ? "Clients and Projects" : "Klienti i Projekti"}}</a></li>
                <li><a href="#services">{{ language == "en" ? "Services" : "Usloge"}}</a></li>
                <li><a href="#aboutUs">{{ language == "en" ? "About Us" : "O nama"}}</a></li>
                <li><a href="#mainFrame">{{ language == "en" ? "Home" : "Pocetna"}}</a></li>
                <li><a href="{{language == "en" ? "/srb" : "/en" }}" class="searchIco-nav"><img src="{{ language == "en" ? "/front-end/resources/img/flags/srb.png" : "/front-end/resources/img/flags/uk.png" }}" alt=""></a></li>
                {% endif %}
            </ul>
        </div>